RAKUTEN_APPLICATION_ID=
RAKUTEN_ACCESS_KEY=
RAKUTEN_AFFILIATE_ID=
AMAZON_PARTNER_TAG=
AMAZON_CREATORS_CREDENTIAL_ID=
AMAZON_CREATORS_CREDENTIAL_SECRET=
AMAZON_CREDENTIAL_VERSION=2.3
DISCORD_WEBHOOK_URL=
X_API_KEY=
X_API_SECRET=
X_ACCESS_TOKEN=
X_ACCESS_TOKEN_SECRET=
NOTIFY_DRY_RUN=true
X_MIN_DISCOUNT=10
X_MAX_POSTS_PER_RUN=1
